<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} // MuleSoft Documentation </title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../css/asciidoctor.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" href="../css/styles.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/scroll-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/sidebar-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/sub-header.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/article-content.less" />
    <link rel="stylesheet" type="text/css" href="http://stage-developer.mulesoft.com/sites/all/themes/muletheme/css/mulesoft-custom/docs-site/header.css">
    <link rel="stylesheet" type="text/css" href="http://stage-developer.mulesoft.com/sites/all/themes/muletheme/css/mulesoft-custom/docs-site/footer.css">
    <script src="../js/less.js"></script>
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    <meta charset="utf-8">
    {{ page.metadata }}
    {{ page.swifttype-metadata }}
</head>
<body>
<!-- Swiftype Code -->

<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','Y6NSC3YWFiMQgK63xPb7','2.0.0');
</script>
<style>
.st-autocomplete-results, .st-ui-autocomplete {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  width: 340px;
}

.st-ui-search-input, .st-default-search-input {
  color: white;
}
</style>

<!-- End Swiftype Code -->

<!-- DUMMY HEADER -->

<header class="row header">
<div class="header__wrapper clearfix">

      <div class="header__top-wrapper">

        <div class="header__nav-wrapper">

          <a href="http://developer.mulesoft.com" title="Home" rel="home" class="header__logo" id="logo">
            <img src="http://developer.mulesoft.com/sites/all/themes/muletheme/images/MuleSoft_Dev_logo.svg" alt="Home" class="header__logo-image" />
          </a>


            <div class="region region-header-top">
    <div id="block-block-1" class="block block-block first odd">


  <a class="green-button" href="https://anypoint.mulesoft.com/#/signup?apintent=dmc_generic">Get started</a>

<div class="mulecom"><a href="https://www.mulesoft.com">MuleSoft.com</a></div>

<style>
/* Move to custom styles.css */

.mulecom a{
  font-weight: bold;
}
.page-champions .champions-billboard-banner .field-banner-slides-title{
  text-align: center;
}
.page-home .learn-more .do-more {
  min-height: 580px;
}

.view-id-msc_view_events .views-row{
    margin-bottom: 25px;
}

.view-id-msc_view_events .field-event-city,
.view-id-msc_view_events .field-event-date {
    display: inline-block;
    color: #323031;
}

.view-id-msc_view_events .field-event-city:after{
    content:",";
    margin-left: -3px;
}

/* Footer style, move to custom-styles.css */
.footer__top .block-menu > ul > li{
   vertical-align: top;
   margin-right: 4%;
}

.footer__top .block-menu > ul > li a{
   font-size: 13px;
   line-height: 20px;
   font-family: "openSans", arial, helvetica, sans-serif;
}

.footer__top .block-menu > ul > li.menu__item > a{
    font-family: "DinPro", "openSans", arial, helvetica, sans-serif;
    font-size: 15px;
}
/* Remove this after push */
.page-champions .champions-prizes-row .field-casestudy-billboard-image img{
   bottom: 0;
}

.connect-footer h2 {
   background:0px;
   margin-top: 4px;
}
@media screen and (max-width: 64em) {
    .panels-flexible-row.panels-white-row > .inside,
    .panels-flexible-row.panels-grey-row > .inside,
    .panels-flexible-row.panels-blue-row > .inside {
            padding: 53px 20px;

    }

     .hero-banner-slides .hero-banner-row img {
      position: absolute;
    }

    .page-home .learn-more .do-more,
    .secondary-content .social-feed {
      padding: 0 0 0 1em;
    }
    .page-home .hero-banner-slides .hero-banner-row img {
      margin-left: -1000px;
    }
    .inside.panels-flexible-row-inside.panels-flexible-row-1-4-inside.clearfix {
            padding: 53px 20px;
    }
       .mule-champion.panels-blue-row{
               text-align: center;
      }

    .mule-champion.panels-blue-row,
    .mule-champion.panels-blue-row > .inside > .panels-flexible-region{
        height: auto;
        min-height: 134px;
    }

    .mule-champion.panels-blue-row .field-main-content-image,
    .mule-champion.panels-blue-row .field-main-content-text,
    .mule-champion.panels-blue-row .field-main-content-links,
    .mule-champion.panels-blue-row .field-main-content-links a{
        float: none;
        margin: 0 auto;
    }
    .mule-champion.panels-blue-row.panels-flexible-row .field-main-content-text{
         width: auto;
    }
    .mule-champion.panels-blue-row.panels-flexible-row .field-main-content-text p{
        width: auto;
        margin: 10px auto;
    }
}
@media screen and (max-width: 60em) {
    .hero-banner-slides .field-banner-slides-subheading {
    width: 50%;
    }
}
@media screen and (max-width: 700px) {
    .hero-banner-slides .field-banner-slides-subheading {
        width: 100%;
    }
    .hero-banner-slides .hero-banner-row img {
        display: none;
    }
    .hero-banner-row.slick-slide {
        background: #222;
    }
}
@media screen and (max-width: 500px) {
    #main .panels-flexible-1 .panels-flexible-region-inside-last,
  #main .panels-flexible-1 .panels-flexible-region-inside-first,
  #main .panels-flexible-1 .panels-flexible-region-inside {
     padding: 0 0;
  }
    .hero-banner-slides .field-banner-slides-subheading {
       width: 100%;
    }
    .panels-flexible-column.blog-feed,
    .panels-flexible-column.social-feed {
         width: 100%;
     }
    .secondary-content .social-feed,
    .page-home .learn-more .do-more{
        border: none;
        padding-left: 0;
    }
}
</style>
</div>
<div id="block-system-main-menu" class="block block-system block-menu even" role="navigation">

        <h2 class="block__title block-title">Main menu</h2>

  <ul class="menu"><li class="menu__item is-leaf first leaf"><a href="/anypoint-platform" title="" class="menu__link">Platform</a></li>
<li class="menu__item is-leaf leaf"><a href="https://developer.mulesoft.com/docs" title="" class="menu__link active">Documentation</a></li>
<li class="menu__item is-leaf leaf"><a href="https://developer.mulesoft.com/community" title="" class="menu__link">Community</a></li>
<li class="menu__item is-leaf last leaf"><a href="http://blog.mulesoft.com/" title="" class="menu__link">Blog</a></li>
</ul>
</div>
<div id="block-search-form" class="block block-search last odd" role="search">


  <form onsubmit="if(this.search_block_form.value==&#039;Search&#039;){ alert(&#039;Please enter a search&#039;); return false; }" action="/search-results" method="get" id="search-block-form--2" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-searchfield form-item-as-q">
  <label class="element-invisible" for="edit-search-block-form--4">Search </label>
 <input title="Enter the terms you wish to search for." onblur="if (this.value == &#039;&#039;) {this.value = &#039;Search&#039;;}" onfocus="if (this.value == &#039;Search&#039;) {this.value = &#039;&#039;;}" placeholder="Search" type="search" id="edit-search-block-form--4" name="as_q" value="" size="15" maxlength="128" class="form-text form-search" />
</div>
<div class="search-icon icon-muletheme-search2"></div><div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-5nVfE5w91A8I2BXU5-kgcy6bchv0cnErVarB6sb1lSE" />
<input type="hidden" name="form_id" value="search_block_form" />
<input type="hidden" name="cx" value="009167469708926298605:hwtkd-ufwfq" />
<input type="hidden" name="cof" value="FORID:10" />
<input type="hidden" name="ie" value="UTF-8" />
</div>
</div></form>
</div>
  </div>
        </div>

      </div> <!-- header__secondary-nav-search -->

      <div class="header__logo--primary-nav clearfix">

        <a href="#sidr" id="open-left">
          <div class="icon-muletheme-navicon"></div>
        </a>


      </div> <!-- header__logo--primary-nav -->

    </div>
  </header>
<!-- /DUMMY HEADER -->

<div class="container">
    <div class="row sub-header" data-swiftype-index='false'>
      <div class="search-box col-md-3 col-xs-8">
          <form action="">
              <a href="#"><i class="tree-icon glyphicon glyphicon-th-list"></i></a>
              <i class="glyphicon glyphicon-search"></i><input class="search-field st-default-search-input" type="text" name="search-docs" placeholder="Search the docs">
              <input type="submit" value="Submit">
          </form>
      </div>
      <div class="toolbar col-md-4 col-xs-4">
          <div class="toolbar-dropdown edit-github">
              <a href="{{ page.github-link }}"><span>Edit on GitHub</span></a>
          </div>
          <div class="toolbar-dropdown helpful">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-helpful" data-toggle="dropdown" aria-expanded="true">
                  <i class="glyphicon glyphicon-star-empty"></i><span>Helpful?</span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-helpful">
                  <li role="presentation">
                      <i class="glyphicon glyphicon-star-empty"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                      <i class="glyphicon glyphicon-star-empty"></i>
                  </li>
                  <li role="message">
                    <span class="error">Was this topic helpful?</span>
                  </li>
                  <li role="presentation"><textarea name="feedback-textarea" id="" cols="30" rows="5" placeholder="Feedback..."></textarea></li>
                  <li role="presentation"><input type="submit" value="Submit"></li>
              </ul>
          </div>
          <!--
          <div class="toolbar-dropdown export">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-export" data-toggle="dropdown" aria-expanded="true">
                  <i class="glyphicon glyphicon-log-out"></i><span>Export</span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-export">
                  <li role="presentation"><a href="#">Export as FORMAT1</a></li>
                  <li role="presentation"><a href="#">Export as FORMAT2</a></li>
                  <li role="presentation"><a href="#">Export as FORMAT3</a></li>
              </ul>
          </div>
          -->
      </div>




      <div class="version-selector col-md-5 col-xs-12">
          {{ page.version }}

          <!--
          <label for="version-selector">CloudHub Version</label>
          <select id="version-selector">
              <option value="1">v 1.1238327285739</option>
              <option value="2">v 1.2348577374539</option>
              <option value="3">v 1.3583456695739</option>
              <option value="4">v 1.4238456875739</option>
          </select> -->

      </div>

    </div>
    <div class="row">
        <div class="sidebar-nav col-md-3" data-swiftype-index='false'>
            <div class="marker"></div>
            <div class="active-marker"></div>
            <nav>
                <ul class="tree">

                  {{ page.toc }}

                </ul>
            </nav>
        </div><!-- /sidebar-nav -->
        <div class="article-content col-md-7"> <!-- article-content -->

          {{ page.breadcrumb }}

          <h1>{{ page.title }}</h1>

          {{ page.content }}

        </div> <!-- /article-content -->
        {{ page.sections }}
      </div>
    </div>
    <!-- DUMMY HEADER -->
    <div class="row footer">

  <div class="footer">
      <div class="footer__wrapper">
        <div class="footer__top">
          <a href="http://developer.mulesoft.com/" title="Home" rel="home" class="header__logo" id="logo"><img src="http://developer.mulesoft.com/sites/all/themes/muletheme/images/MuleSoft_Dev_logo.svg" alt="Home" class="header__logo-image" /></a>
            <div class="region region-footer-top">
      <div id="block-menu-menu-footer-menu" class="block block-menu first last odd" role="navigation">

          <h2 class="block__title block-title">Footer Menu</h2>

    <ul class="menu"><li class="menu__item is-expanded first expanded"><a href="/anypoint-platform" title="" class="menu__link">Platform</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="/anypoint-platform" title="" class="menu__link">Anypoint Platform Overview</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#mule" title="" class="menu__link">Mule runtime engine</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#studio" title="" class="menu__link">Studio</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apidesigner" title="" class="menu__link">API Designer</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apimanager" title="" class="menu__link">API Manager</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apianalytics" title="" class="menu__link">Analytics</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#connectors" title="" class="menu__link">Connectors</a></li>
  <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#exchange" title="" class="menu__link">Exchange</a></li>
  <li class="menu__item is-leaf last leaf"><a href="/anypoint-platform#aportal" title="" class="menu__link">API Portal</a></li>
  </ul></li>
  <li class="menu__item is-expanded expanded"><a href="https://developer.mulesoft.com/docs" title="" class="menu__link">Documentation</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+Fundamentals" title="" class="menu__link">Fundamentals</a></li>
  <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+User+Guide" title="" class="menu__link">Mule User Guide</a></li>
  <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+Management+Console" title="" class="menu__link">Management</a></li>
  <li class="menu__item is-leaf last leaf"><a href="http://developer.mulesoft.com/docs/display/current/Anypoint+Platform+Administration" title="" class="menu__link">Administration</a></li>
  </ul></li>
  <li class="menu__item is-expanded expanded"><a href="http://developer.mulesoft.com/community" title="" class="menu__link">Community</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="http://forum.mulesoft.org/" title="" class="menu__link">Forums</a></li>
  <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/events" title="" class="menu__link">Events</a></li>
  <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/champions" title="" class="menu__link">Champions</a></li>
  <li class="menu__item is-leaf last leaf"><a href="https://www.mulesoft.org/jira/browse/MULE" title="" class="menu__link">Issue tracker</a></li>
  </ul></li>
  <li class="menu__item is-leaf last leaf"><a href="http://blog.mulesoft.com/" title="" class="menu__link">Blog</a></li>
  </ul>
  </div>
    </div>
          <div class="connect-footer">
            <h2>Sign up for our dev newsletter</h2>
            <script src="//app-abd.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form id="mktoForm_415">
  </form>
  <script>
    MktoForms2.loadForm("//app-abd.marketo.com", "564-SZS-136", 415);
  </script>
    <script>
      MktoForms2.whenReady(function (form){
        // Custom code here
      });
    </script>          <ul class="social-links">
              <li><a href="https://www.linkedin.com/grp/home?gid=6936034" target="_blank" class="icon-muletheme-linkedin"></a></li>
              <li><a href="https://twitter.com/muledev" target="_blank" class="icon-muletheme-twitter"></a></li>
              <li><a href="https://www.facebook.com/MuleSoft" target="_blank" class="icon-muletheme-facebook"></a></li>
              <li><a href="mailto:devrel@mulesoft.com" target="_blank" class="icon-muletheme-email"></a></li>
              <li><a href="" target="_blank" class="icon-muletheme-youtube"></a></li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom-wrapper">

          <div class="terms-conditions temp">


            MuleSoft provides the most widely used integration platform for connecting SaaS and enterprise applications in the cloud and on-premise. Delivered as a packaged integration experience, CloudHub™ and Mule ESB™ (Enterprise Service Bus) are built on proven open source technology for the fastest, most reliable on-premise and cloud integration without vendor lock-in. Read our <a href="https://www.mulesoft.com/privacy-policy" target="_blank"> privacy policy</a>.        </div>

        </div>

      </div>
    </div>

  </div>


    </div>
    <!-- Feedback script -->
    <script>
    // Search field toggle.
    $('.search-icon').click(function(){
        if(!$('#block-search-form .form-item.form-type-searchfield').is(":visible")) {
            $('#block-search-form .form-item.form-type-searchfield').toggle(100, function(){
                $('.search-icon').css('left', 'auto').css('background-position', '-3px -3px').css('background-size', '130%');
            });
        }
    });

    // Point to site logo.
    $('.header__logo img').attr('src', 'https://developer.mulesoft.com/sites/all/themes/muletheme/images/MuleSoft_Dev_logo.svg');

    var ratingId = Math.floor((Math.random() * 9999999999) + 1);

    // Star rating highlight and submit
    $('.helpful li i').click(function(){
        $('.helpful li i').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        $(this)
            .removeClass('glyphicon-star-empty').addClass('glyphicon-star')
            .prevAll().removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        var rating = $('.glyphicon-star').length;
        postFeedback(ratingId, "star-only", window.location.href, rating);
    });

    //Submit comment
    $('.helpful input[type="submit"]').click(function(){
        var rating = $('.glyphicon-star').length;
        var comment = $('.helpful [name="feedback-textarea"]').val();
        if(rating) {
            postFeedback(ratingId, comment, window.location.href, rating);
        }
        else {
            $('.helpful .error').html('Please rate this topic.').attr('style', 'color: #D1344E;');
        }
    });

    //Post feedback function
    function postFeedback(ratingId, comment, url, rating) {
        $.ajax({
            type: 'POST',
            url: 'http://docs-stg.mulesoft.com:8080/rate',
            contentType: 'application/json',
            data: '{ "id": ' + ratingId + ', "comment": "' + comment + '", "url": "' + url + '", "rating": ' + rating + ' }',
            xhrFields: {
                withCredentials: false
            },
            complete: function() {
                if(comment != 'star-only') {
                    $('.helpful .error').html('Thank you for your feedback!').attr('style', 'color: #16BB64;');
                    $('.helpful input[type="submit"]').attr('disabled', 'disabled');
                }
                else {
                    $('.helpful .error').html('Was this topic helpful?').attr('style', 'color: #58595a;');
                }
            }
        });
    }
    </script>
    <!-- /DUMMY HEADER -->
  </body>
</html>
