<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} // MuleSoft Documentation </title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/asciidoctor.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" />
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less" />
    <link rel="stylesheet/less" type="text/css" href="/css/scroll-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="/css/sidebar-menu.less" />
    <link rel="stylesheet/less" type="text/css" href="/css/sub-header.less" />
    <link rel="stylesheet/less" type="text/css" href="/css/article-content.less" />
    <link rel="stylesheet" type="text/css" href="/css/ms-com-header-footer.css">
    <script src="/js/less.js"></script>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/js/scripts.js"></script>
    <meta charset="utf-8">
    {{ page.canonical }}
    {{ page.metadata }}
    {{ page.swifttype-metadata }}
</head>
<body>
<!-- START Swiftype -->
<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','Y6NSC3YWFiMQgK63xPb7','2.0.0');
</script>
<style>
.st-autocomplete-results, .st-ui-autocomplete {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  width: 340px;
}

.st-ui-search-input, .st-default-search-input {
  color: white;
}
</style>
<!-- END Swiftype -->
<!-- START header -->
<header class="row header" data-swiftype-index='false'>
<div class="header__wrapper clearfix" data-swiftype-index='false'>

      <div class="header__top-wrapper">

        <div class="header__nav-wrapper">

          <a href="http://developer.mulesoft.com" title="Home" rel="home" class="header__logo" id="logo">
            <img src="/img/mulesoft-dev-logo.svg" alt="Home" class="header__logo-image" />
          </a>


            <div class="region region-header-top">
    <div id="block-block-1" class="block block-block first odd">


  <a class="green-button" href="https://anypoint.mulesoft.com/#/signup?apintent=dmc_generic">Get started</a>

<div class="mulecom"><a href="https://www.mulesoft.com">MuleSoft.com</a></div>
</div>
<div id="block-system-main-menu" class="block block-system block-menu even" role="navigation" data-swiftype-index='false'>

        <h2 class="block__title block-title">Main menu</h2>

  <ul class="menu"><li class="menu__item is-leaf first leaf"><a href="/anypoint-platform" title="" class="menu__link">Platform</a></li>
<li class="menu__item is-leaf leaf"><a href="https://developer.mulesoft.com/docs" title="" class="menu__link active">Documentation</a></li>
<li class="menu__item is-leaf leaf"><a href="https://developer.mulesoft.com/community" title="" class="menu__link">Community</a></li>
<li class="menu__item is-leaf last leaf"><a href="http://blog.mulesoft.com/" title="" class="menu__link">Blog</a></li>
</ul>
</div>
<div id="block-search-form" class="block block-search last odd" role="search" data-swiftype-index='false'>


  <form onsubmit="if(this.search_block_form.value==&#039;Search&#039;){ alert(&#039;Please enter a search&#039;); return false; }" action="https://developer.mulesoft.com/search-results" method="get" id="search-block-form--2" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-searchfield form-item-as-q">
  <label class="element-invisible" for="edit-search-block-form--4">Search </label>
 <input title="Enter the terms you wish to search for." onblur="if (this.value == &#039;&#039;) {this.value = &#039;Search&#039;;}" onfocus="if (this.value == &#039;Search&#039;) {this.value = &#039;&#039;;}" placeholder="Search" type="search" id="edit-search-block-form--4" name="as_q" value="" size="15" maxlength="128" class="form-text form-search" />
</div>
<div class="search-icon icon-muletheme-search2"></div><div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-5nVfE5w91A8I2BXU5-kgcy6bchv0cnErVarB6sb1lSE" />
<input type="hidden" name="form_id" value="search_block_form" />
<input type="hidden" name="cx" value="009167469708926298605:hwtkd-ufwfq" />
<input type="hidden" name="cof" value="FORID:10" />
<input type="hidden" name="ie" value="UTF-8" />
</div>
</div></form>
</div>
  </div>
        </div>

      </div> <!-- header__secondary-nav-search -->

      <div class="header__logo--primary-nav clearfix">

        <a href="#sidr" id="open-left">
          <div class="icon-muletheme-navicon"></div>
        </a>


      </div> <!-- header__logo--primary-nav -->

    </div>
  </header>
<!-- /DUMMY HEADER -->

<div class="container">
    <div class="row sub-header" data-swiftype-index='false'>
      <div class="search-box col-md-3 col-xs-8">
          <form action="">
              <i class="glyphicon glyphicon-search"></i><input class="search-field st-ui-search-input st-default-search-input" type="text" name="search-docs" placeholder="Search the docs">
              <input type="submit" value="Submit">
          </form>
      </div>
      <div class="toolbar col-md-4 col-xs-4">
          <div class="toolbar-dropdown show-hide-sidebar">
              <a href="#" class="tree-icon glyphicon glyphicon-th-list"><span>Nav</span></a>
          </div>
          <div class="toolbar-dropdown edit-github">
              <a href="{{ page.github-link }}" target="_blank"><span>Edit on GitHub</span></a>
          </div>
          <div class="toolbar-dropdown helpful">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-helpful" data-toggle="dropdown" aria-expanded="true">
                  <i class="star-empty"></i><span>Helpful?</span>
              </button>

              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-helpful">
                  <li role="presentation">
                      <i class="star-empty"></i>
                      <i class="star-empty"></i>
                      <i class="star-empty"></i>
                      <i class="star-empty"></i>
                      <i class="star-empty"></i>
                  </li>
                  <li role="message">
                    <span class="error">Was this topic helpful?</span>
                  </li>
                  <li role="presentation"><textarea name="feedback-textarea" id="" cols="30" rows="5" placeholder="Feedback..."></textarea></li>
                  <li role="presentation"><input type="submit" value="Submit"></li>
              </ul>
          </div>
      </div>
      <div class="version-selector col-md-5 col-xs-12">
          {{ page.version }}
      </div>
    </div>
    <div class="row">
        <div class="sidebar-nav col-md-3" data-swiftype-index='false'>
            <div class="marker"></div>
            <div class="active-marker"></div>
            <nav>
                <ul class="tree">
                  {{ page.toc }}
                </ul>
            </nav>
        </div>
        <!-- END sidebar-nav -->
        <!-- START version notification -->

        {{ page.version-notification }}

        <!-- END older version notification -->
        <!-- START article content -->
        <div class="article-content col-md-7">
          {{ page.breadcrumb }}
          <h1>{{ page.title }}</h1>
          {{ page.content }}
        </div>
        <!-- END article-content -->
        {{ page.sections }}
      </div>
    </div>
    <!-- START footer -->
    <div class="row footer" data-swiftype-index='false'>

    <div class="footer">
        <div class="footer__wrapper">
          <div class="footer__top">
            <a href="http://developer.mulesoft.com/" title="Home" rel="home" class="header__logo" id="logo"><img src="/img/mulesoft-dev-logo.svg" alt="Home" class="header__logo-image" /></a>
              <div class="region region-footer-top">
        <div id="block-menu-menu-footer-menu" class="block block-menu first last odd" role="navigation">

            <h2 class="block__title block-title">Footer Menu</h2>

      <ul class="menu"><li class="menu__item is-expanded first expanded"><a href="/anypoint-platform" title="" class="menu__link">Platform</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="/anypoint-platform" title="" class="menu__link">Anypoint Platform Overview</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#mule" title="" class="menu__link">Mule runtime engine</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#studio" title="" class="menu__link">Studio</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apidesigner" title="" class="menu__link">API Designer</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apimanager" title="" class="menu__link">API Manager</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#apianalytics" title="" class="menu__link">Analytics</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#connectors" title="" class="menu__link">Connectors</a></li>
    <li class="menu__item is-leaf leaf"><a href="/anypoint-platform#exchange" title="" class="menu__link">Exchange</a></li>
    <li class="menu__item is-leaf last leaf"><a href="/anypoint-platform#aportal" title="" class="menu__link">API Portal</a></li>
    </ul></li>
    <li class="menu__item is-expanded expanded"><a href="https://developer.mulesoft.com/docs" title="" class="menu__link">Documentation</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+Fundamentals" title="" class="menu__link">Fundamentals</a></li>
    <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+User+Guide" title="" class="menu__link">Mule User Guide</a></li>
    <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/docs/display/current/Mule+Management+Console" title="" class="menu__link">Management</a></li>
    <li class="menu__item is-leaf last leaf"><a href="http://developer.mulesoft.com/docs/display/current/Anypoint+Platform+Administration" title="" class="menu__link">Administration</a></li>
    </ul></li>
    <li class="menu__item is-expanded expanded"><a href="http://developer.mulesoft.com/community" title="" class="menu__link">Community</a><ul class="menu"><li class="menu__item is-leaf first leaf"><a href="http://forum.mulesoft.org/" title="" class="menu__link">Forums</a></li>
    <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/events" title="" class="menu__link">Events</a></li>
    <li class="menu__item is-leaf leaf"><a href="http://developer.mulesoft.com/champions" title="" class="menu__link">Champions</a></li>
    <li class="menu__item is-leaf last leaf"><a href="https://www.mulesoft.org/jira/browse/MULE" title="" class="menu__link">Issue tracker</a></li>
    </ul></li>
    <li class="menu__item is-leaf last leaf"><a href="http://blog.mulesoft.com/" title="" class="menu__link">Blog</a></li>
    </ul>
    </div>
      </div>
            <div class="connect-footer">
              <h2>Sign up for our dev newsletter</h2>
              <script src="//app-abd.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_415">
    </form>
    <script>
      MktoForms2.loadForm("//app-abd.marketo.com", "564-SZS-136", 415);
    </script>
      <script>
        MktoForms2.whenReady(function (form){
          // Custom code here
        });
      </script>          <ul class="social-links">
                <li><a href="https://www.linkedin.com/grp/home?gid=6936034" target="_blank" class="icon-muletheme-linkedin"></a></li>
                <li><a href="https://twitter.com/muledev" target="_blank" class="icon-muletheme-twitter"></a></li>
                <li><a href="https://www.facebook.com/MuleSoft" target="_blank" class="icon-muletheme-facebook"></a></li>
                <li><a href="mailto:devrel@mulesoft.com" target="_blank" class="icon-muletheme-email"></a></li>
                <li><a href="" target="_blank" class="icon-muletheme-youtube"></a></li>
              </ul>
            </div>
          </div>

          <div class="footer-bottom-wrapper">

            <div class="terms-conditions temp">


              MuleSoft provides the most widely used integration platform for connecting SaaS and enterprise applications in the cloud and on-premise. Delivered as a packaged integration experience, CloudHub™ and Mule ESB™ (Enterprise Service Bus) are built on proven open source technology for the fastest, most reliable on-premise and cloud integration without vendor lock-in. Read our <a href="https://www.mulesoft.com/privacy-policy" target="_blank"> privacy policy</a>.        </div>

          </div>

        </div>
      </div>

    </div>


      </div>
      <!-- Feedback script -->
      <script>
      // Search field toggle.
      $('.search-icon').click(function(){
          if(!$('#block-search-form .form-item.form-type-searchfield').is(":visible")) {
              $('#block-search-form .form-item.form-type-searchfield').toggle(100, function(){
                  $('.search-icon').css('left', 'auto').css('background-position', '-3px -3px').css('background-size', '130%');
              });
          }
      });

      // Point to site logo.
      $('.header__logo img').attr('src', '/img/mulesoft-dev-logo.svg');

      var ratingId = Math.floor((Math.random() * 9999999999) + 1);

      // Star rating highlight and submit
      $('.helpful li i').click(function(){
          $('.helpful li i').removeClass('star').addClass('star-empty');
          $(this)
              .removeClass('star-empty').addClass('star')
              .prevAll().removeClass('star-empty').addClass('star');
          var rating = $('.star').length;
          ratingPicked = rating;
          postFeedback(ratingId, "star-only", window.location.href, rating);
      });
      $('.helpful li i').mouseenter(function() {
          ratingPicked = $('.star').length;
          $(this)
              .removeClass('star-empty').addClass('star')
              .prevAll().removeClass('star-empty').addClass('star');
      });
      $('.helpful li i').mouseleave(function(){
          var i = 0;
          ratingPicked ? ratingPicked : 0;
          $('.helpful li i').removeClass('star').addClass('star-empty');
          while(i < ratingPicked) {
              $('.helpful li i')
                  .eq(i).removeClass('star-empty').addClass('star');
              i++;
          }
      });

      //Submit comment
      $('.helpful input[type="submit"]').click(function(){
          var rating = $('.star').length;
          var comment = $('.helpful [name="feedback-textarea"]').val();
          if(rating) {
              postFeedback(ratingId, comment, window.location.href, rating);
          }
          else {
              $('.helpful .error').html('Please rate this topic.').attr('style', 'color: #D1344E;');
          }
      });

      //Post feedback function
      function postFeedback(ratingId, comment, url, rating) {
          $.ajax({
              type: 'POST',
              url: '/rate',
              contentType: 'application/json',
              data: '{ "id": ' + ratingId + ', "comment": "' + comment + '", "url": "' + url + '", "rating": ' + rating + ' }',
              xhrFields: {
                  withCredentials: false
              },
              complete: function() {
                  if(comment != 'star-only') {
                      $('.helpful .error').html('Thank you for your feedback!').attr('style', 'color: #16BB64;');
                      $('.helpful input[type="submit"]').attr('disabled', 'disabled');
                  }
                  else {
                      $('.helpful .error').html('Was this topic helpful?').attr('style', 'color: #58595a;');
                  }
              }
          });
      }

      </script>
      <!-- END footer -->
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-SP2R"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-SP2R');</script>
      <!-- End Google Tag Manager -->
  </body>
</html>
